/**
 * ---------------------------------------------------------------------------
 * MNRRA - Base graphic colors
 * ---------------------------------------------------------------------------
 */
@drk-blue: #062926;
@gry-blue: #1f2e2c;
@med-green-grey: #2b4749;
@bright-blue: #0083c0;
@tan: #e5e5e5;
@orange: #ff8e10;
