/**
 * ----------------------------------------------------------------------------
 * Font faces
 * ---------------------------------------------------------------------------
 */
@font-face {
    font-family: 'proxima-nova';
    src: url('/fonts/ProximaNova-Reg.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'national-bold';
    src: url('/fonts/National-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'national-medium';
    src: url('/fonts/nationalmedium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'national-medium';
    src: url('/fonts/nationalmedium.ttf');
    font-weight: normal;
    font-style: normal;
}
